/****************************************************** custom defaults */
/* removes auto blue highlighting */
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  color: #000;
}

body {
  text-align: center;
  cursor: default;
  background-color: #fff;
  /* for footer */
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/****************************************************** nav (small) */
#navBarLargeBg {
  display: none;
}

#navBarSmallBg {
  text-align: left;
  font-size: 2rem;
  background-color: #effffd;
  padding: 0.7rem;
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
}

.fa-solid.fa-bars {
  cursor: pointer;
}

.fa-solid.fa-bars:hover {
  color: #42c2ff;
}

#navLinksSmall {
  display: none;
  grid-template-columns: auto;
  justify-content: end;
  justify-items: end;
  right: 1rem;
  top: 1rem;
  position: absolute;
}

#navLinksSmall a:hover {
  color: #42c2ff;
  font-weight: 900;
}

@media (min-width: 992px) {
  /****************************************************** nav (large) */
  #navBarSmallBg {
    display: none;
  }

  #navBarLargeBg {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 2rem;
    background-color: #effffd;
    padding: 0.7rem;
    width: 100%;
    height: 4rem;
    align-content: center;
    justify-content: end;
    grid-gap: 4rem;
    position: absolute;
    top: 0;
  }

  #navBarLargeBg a {
    font-size: 2rem;
  }

  #navBarLargeBg a:hover {
    color: #42c2ff;
    font-weight: 900;
  }
}

/****************************************************** arrow */
#mainBgHabitCreate {
  position: relative;
  padding-top: 14rem;
}

@media (min-width: 576px) {
  #mainBgHabitCreate {
    padding-top: 8rem;
  }
}

#leftArrow {
  position: absolute;
  top: 5rem;
  left: 0.5rem;
}

.fa-solid.fa-circle-left {
  font-size: 2rem;
  cursor: pointer;
}

.fa-solid.fa-circle-left:hover {
  color: #42c2ff;
}

/****************************************************** create habit */
#habitCreateContainer {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
}

#habitCreateContainer h1,
h2 {
  margin-bottom: 2rem;
}

#habitCreateContainer button {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #85f4ff;
  border: none;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.2rem;
}

#habitCreateContainer button:hover {
  background-color: #42c2ff;
}

@media (min-width: 576px) {
  #habitCreateContainer h1 {
    font-size: 3rem;
  }

  #habitCreateContainer span {
    color: #42c2ff;
  }

  #habitCreateContainer h2 {
    font-size: 2rem;
  }

  #habitCreateContainer button {
    font-size: 2rem;
  }
}

/****************************************************** no habits */
#mainBgHome {
  display: grid;
  justify-items: center;
  /* footer height */
  padding-bottom: 2.5rem;
}

#homeTitle {
  margin: 15rem auto 2rem;
}

@media (min-width: 576px) {
  #homeTitle h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  #homeTitle {
    margin-top: 12rem;
  }
}

#noHabitBtn {
  display: grid;
  background-color: #85f4ff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 900;
  cursor: pointer;
}

#noHabitBtn:hover {
  background-color: #42c2ff;
}

@media (min-width: 576px) {
  #noHabitBtn {
    padding: 1.5rem;
  }
  #noHabitBtn {
    font-size: 1.5rem;
  }
}

/****************************************************** footer */
#footerBg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #effffd;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-solid.fa-user:hover,
.fa-solid.fa-calendar-days:hover,
.fa-solid.fa-sun:hover {
  color: #42c2ff;
}

@media (min-width: 992px) {
  .fa-solid.fa-user,
  .fa-solid.fa-calendar-days,
  .fa-solid.fa-sun {
    font-size: 2rem;
  }
}
